.wrapper {
    height: 100vh;
    background-color: #faf9f9;
}
.centered {
    padding-left: 8%;
    padding-right: 8%;
}
.short-Hr {
    width: 100px;
    border-bottom: 3px solid #fff;
}
.headline {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}
p, span, #articleBtn, .sub-headline  {
    font-family: 'Open Sans', sans-serif;
}
.sub-headline {
    font-size: 1.1rem;
    font-weight: 300;
}
.main-title {
    color: #866246;
    font-weight: 500;
    font-size: 1.5rem;
}
.card-desc {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1.75rem;
}
.jumbotron {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #6F4E37;
}
#articleBtn {
    background-color: #ED7B35 !important;
}
#articleBtn:hover {
    background-color: #AD5A26 !important;
}
.card {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
#search {
    height: 3rem;
}
.buttonDiv {
    margin-top: 2rem;
}
a {
    cursor: pointer;
    color: inherit;
}
a:hover {
    color: inherit;
}
.box-shadow{
    box-shadow: 0px 35px 100px -70px rgba(0,0,0,0.5);
}